# Get FBS Data

In [1]:
# import dependencies
import pandas as pd
import numpy as np
import requests
import json
import matplotlib.pyplot as plt

In [2]:
# set stub api url
urlstub = "https://api.collegefootballdata.com"

In [3]:
# create list to iterate through for years 2004-2019
years = np.arange(2004,2020,1)

In [4]:
# get the FBS teams from each year
fbsSchoolFrame = pd.DataFrame({})
fbsYearFrame = pd.DataFrame({})
for y in years:
    fbsYearFrame = pd.DataFrame()
    fbsOneSchoolFrame = pd.DataFrame()
    queryurl = f"{urlstub}/teams/fbs?year={y}"
    resp = requests.get(queryurl)
    respjs = resp.json()
    # iterate through the response to get the school name
    for i in range(len(respjs)):
        fbsOneSchoolFrame = pd.DataFrame(respjs[i])
        # store per school and append to overall year frame
        fbsYearFrame = fbsYearFrame.append(fbsOneSchoolFrame, ignore_index=True, sort=False)
    
    #create column to hold year
    fbsYearFrame['year'] = int(y)    
    #  append to overall FBS dataframe
    fbsSchoolFrame = fbsSchoolFrame.append(fbsYearFrame, ignore_index=True, sort=False)

In [5]:
# convert year to an integer
fbsSchoolFrame['year'] = fbsSchoolFrame['year'].astype(int)# convert year to an integer 
# keep only needed columns and drop the duplicate records and rename columns for consistency
fbsSchoolFrame = fbsSchoolFrame.rename(columns={"year":"season",'school':'team'})
fbsSchoolFrame = fbsSchoolFrame[['season','team','id','mascot','abbreviation','conference','division']]
fbsSchoolFrame = fbsSchoolFrame.drop_duplicates()
# preview dataframe
fbsSchoolFrame.head()

,season,team,id,mascot,abbreviation,conference,division
0,2004,Air Force,2005,Falcons,AFA,Mountain West,None
2,2004,Akron,2006,Zips,AKR,Mid-American,East
4,2004,Alabama,333,Crimson Tide,ALA,SEC,West
6,2004,Arizona,12,Wildcats,ARIZ,Pac-10,None
8,2004,Arizona State,9,Sun Devils,ASU,Pac-10,None

In [6]:
# output FBS dataframe to csv
fbsSchoolFrame.to_csv('Data/fbsSchoolData.csv',index=False)