# Main Program

In [1]:
# import dependencies
import pandas as pd
import numpy as np
import requests
import json
import matplotlib.pyplot as plt

In [2]:
# set stub api url
urlstub = "https://api.collegefootballdata.com"

In [3]:
# create list to iterate through for years 2004-2019
years = np.arange(2004,2020,1)

In [4]:
# get the FBS teams from each year
fbsSchoolFrame = pd.DataFrame({})
fbsYearFrame = pd.DataFrame({})
for y in years:
    fbsYearFrame = pd.DataFrame()
    fbsOneSchoolFrame = pd.DataFrame()
    queryurl = f"{urlstub}/teams/fbs?year={y}"
    resp = requests.get(queryurl)
    respjs = resp.json()
    # iterate through the response to get the school name
    for i in range(len(respjs)):
        fbsOneSchoolFrame = pd.DataFrame(respjs[i])
        # store per school and append to overall year frame
        fbsYearFrame = fbsYearFrame.append(fbsOneSchoolFrame, ignore_index=True, sort=False)
    
    #create column to hold year
    fbsYearFrame['Year'] = int(y)    
    #  append to overall FBS dataframe
    fbsSchoolFrame = fbsSchoolFrame.append(fbsYearFrame, ignore_index=True, sort=False)

In [5]:
# convert year to an integer 
fbsSchoolFrame['Year'] = fbsSchoolFrame['Year'].astype(int)
# remove the logos column as it was causing duplicates and drop the duplicate records
del fbsSchoolFrame['logos']
fbsSchoolFrame = fbsSchoolFrame.drop_duplicates()
# preview dataframe
fbsSchoolFrame.head()

,id,school,mascot,abbreviation,alt_name1,alt_name2,alt_name3,conference,division,color,alt_color,Year
0,2005,Air Force,Falcons,AFA,None,AFA,Air Force,Mountain West,None,#004a7b,#ffffff,2004
2,2006,Akron,Zips,AKR,None,AKR,Akron,Mid-American,East,#00285e,#84754e,2004
4,333,Alabama,Crimson Tide,ALA,None,ALA,Alabama,SEC,West,#690014,#f1f2f3,2004
6,12,Arizona,Wildcats,ARIZ,None,ARIZ,Arizona,Pac-10,None,#002449,#00205b,2004
8,9,Arizona State,Sun Devils,ASU,None,ASU,Arizona State,Pac-10,None,#942139,#f1f2f3,2004

In [6]:
# output FBS dataframe to csv
fbsSchoolFrame.to_csv('Data/fbsSchoolData.csv')