# Main Program

In [1]:
#import dependencies
import pandas as pd
import numpy as np
import requests
import json
import matplotlib.pyplot as plt

In [2]:
#set stub api url
urlstub = "https://api.collegefootballdata.com"

In [3]:
#create list to iterate through for years 2004-2019
years = np.arange(2004,2020,1)

In [4]:
#get the FBS teams from each year
fbsSchoolFrame = pd.DataFrame({'Year':[],
                               'School':[],
                               'Conference':[]})
for y in years:
    fbsYearSchoolList = []
    fbsYearSchoolConfList = []
    queryurl = f"{urlstub}/teams/fbs?year={y}"
    resp = requests.get(queryurl)
    respjs = resp.json()
    
    #iterate through the response to get the school name
    for i in range(len(respjs)):
        fbsYearSchoolList.append(respjs[i]['school'])
        fbsYearSchoolConfList.append(respjs[i]['conference'])
        
    #store per year and append to overall dataframe
    fbsYearFrame = pd.DataFrame({'School': fbsYearSchoolList,
                                 'Conference': fbsYearSchoolConfList})
    fbsYearFrame['Year'] = int(y)
    fbsSchoolFrame = fbsSchoolFrame.append(fbsYearFrame, ignore_index=True, sort=False)

In [5]:
#convert year to an integer and preview dataframe
fbsSchoolFrame['Year'] = fbsSchoolFrame['Year'].astype(int)
fbsSchoolFrame.head()

   Year         School     Conference
0  2004      Air Force  Mountain West
1  2004          Akron   Mid-American
2  2004        Alabama            SEC
3  2004        Arizona         Pac-10
4  2004  Arizona State         Pac-10